@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--body-bg);
}


main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

// input,
// textarea,
// select {
//   &:not(:placeholder-shown) {
//     &:valid {
//       border: 1px solid $success;
//     }

//     &:invalid {
//       border: 1px solid $danger;
//     }
//   }
// }

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

// footer {
//   width: 10vw;
// }


.tower-box-shadow {
  box-shadow: 3px 3px 6px #171920;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}


.prof-pic {
  width: 10vw;
}

.cancel {
  height: 5vh;
  width: 5vh;
}

.logo {
  max-height: 4vh;
  width: auto;
}

.txt-area {
  height: 10vh;
  overflow-y: auto;
}

.prof-pic {
  height: 7vh;
  width: 7vh;
  object-fit: cover;
}

.ticket-pic {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 786px) {
  .btn-small {
    font-size: 12pt !important;
  }

}

// NOTE This is the opensours section of SCSS from UIVERSE.IO
// NOTE SCROLLBAR SECTION!!!
// Target the scrollbar 
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #CCF3FD;
  border-radius: 10px;
}

//  Style the thumb 
::-webkit-scrollbar-thumb {
  background-color: #56C7FB;
  border-radius: 10px;
}

//  Change the color of the thumb on hover
::-webkit-scrollbar-thumb:hover {
  background-color: #56C7FB;
}


.inputbox {
  position: relative;
  width: 196px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
  color: #CCF3FD;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #CCF3FD;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
  height: 44px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.selectbox {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: #8f8f8f;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #CCF3FD;
  outline: none;
  padding: 20px 10px 10px;
  font-size: 1em;
}

.selectbox option {
  background-color: #CCF3FD;
  color: black;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 1em;
}

.select-container.selected .selectbox {
  background-color: #CCF3FD;
  color: black;
  border-radius: 4px;
  transition: 0.5s;
}

.select-container {
  height: 54px;
}

.button {
  --color: #79E7AB;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}

.button-red {
  --color-red: #e13f5d;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color-red);
  z-index: 1;
}

.button-red::before,
.button-red::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color-red);
  transition: 1s ease;
}

.button-red::before {
  top: -1em;
  left: -1em;
}

.button-red::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button-red:hover::before,
.button-red:hover::after {
  height: 410px;
  width: 410px;
}

.button-red:hover {
  color: rgb(10, 25, 30);
}

.button-red:active {
  filter: brightness(.8);
}

.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 6px;
  height: 50px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.sold-out span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sold-out span::before {
  content: 'sold out';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
  transform: rotate(45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.sold-out span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  right: 0;
  height: 10px;
  z-index: -1;
  box-shadow: -140px -140px #e13f5d;
  background-image: linear-gradient(45deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
}

.canceled span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canceled span::before {
  content: 'canceled';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
  transform: rotate(45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.canceled span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  right: 0;
  height: 10px;
  z-index: -1;
  box-shadow: -140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
}

button {
  --color: #79E7AB;
  background: transparent;
  color: var(--color);
  border: 1px solid;
  border-radius: .3em;
  padding: 0.8rem 2rem;
  font-weight: 400;
  font-size: 17px;

  font-family: inherit;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

// button {

//   padding: 0.8em 1.7em;
//   background-color: transparent;

//   position: relative;
//   overflow: hidden;
//   cursor: pointer;
//   transition: .5s;


//   z-index: 1;
// }

.name {
  width: 100%;
  text-align: center;
  padding: 0 0 3rem;
  padding-top: 4rem;
  font: 500 14px "Rubik", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.button-parrot .parrot {
  position: absolute;
  width: 60px;
  text-align: center;
  animation: blink 0.8s infinite;
  color: transparent;
}

.button-parrot .parrot:before {
  content: "Click Me!";
}

.button-parrot .parrot:nth-child(1) {
  top: -30px;
  left: -40px;
  font: 12px/1 "Margarine", sans-serif;
  transform: rotate(-20deg);
  animation-duration: 0.5s;
}

.button-parrot .parrot:nth-child(2) {
  font: 12px/1 "Margarine", sans-serif;
  right: -40px;
  top: -20px;
  transform: rotate(15deg);
  animation-duration: 0.3s;
}

.button-parrot .parrot:nth-child(3) {
  font: 16px/1 "Margarine", sans-serif;
  top: -60px;
  left: 15px;
  transform: rotate(10deg);
  animation-duration: 1s;
}

.button-parrot .parrot:nth-child(4) {
  font: 18px/1 "Margarine", sans-serif;
  top: -70px;
  left: 95px;
  transform: rotate(2deg);
  animation-duration: 0.7s;
}

.button-parrot .parrot:nth-child(5) {
  font: 14px/1 "Margarine", sans-serif;
  top: 80px;
  left: 105px;
  transform: rotate(-20deg);
  animation-duration: 0.8s;
}

.button-parrot .parrot:nth-child(6) {
  font: 12px/1 "Margarine", sans-serif;
  top: 80px;
  left: 5px;
  transform: rotate(10deg);
  animation-duration: 1.2s;
}

.button-parrot button:hover .parrot:before {
  content: "Do it!";
  width: 70px;
}

@keyframes blink {

  25%,
  75% {
    color: transparent;
  }

  40%,
  60% {
    color: #fff;
  }
}

.reactour__helper--is-open {
  background-color: #222;
  /* Change this to your desired dark color */
  opacity: 0.8;
}

/* Customize the next button */
.reactour__controls__button--next {
  background-color: blue;
  color: white;
}

/* Customize the previous button */
.reactour__controls__button--prev {
  background-color: red;
  color: white;
}