@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--body-bg);
}


main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

// input,
// textarea,
// select {
//   &:not(:placeholder-shown) {
//     &:valid {
//       border: 1px solid $success;
//     }

//     &:invalid {
//       border: 1px solid $danger;
//     }
//   }
// }

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}


.tower-box-shadow {
  box-shadow: 3px 3px 6px #171920;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}



// NOTE SCROLLBAR SECTION!!!
// Target the scrollbar 
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #CCF3FD;
  border-radius: 10px;
}

//  Style the thumb 
::-webkit-scrollbar-thumb {
  background-color: #56C7FB;
  border-radius: 10px;
}

//  Change the color of the thumb on hover
::-webkit-scrollbar-thumb:hover {
  background-color: #56C7FB;
}


.inputbox {
  position: relative;
  width: 196px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
  color: #CCF3FD;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #CCF3FD;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
  height: 44px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.selectbox {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: #8f8f8f;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #CCF3FD;
  outline: none;
  padding: 20px 10px 10px;
  font-size: 1em;
}

.selectbox option {
  background-color: #CCF3FD;
  color: black;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 1em;
}

.select-container.selected .selectbox {
  background-color: #CCF3FD;
  color: black;
  border-radius: 4px;
  transition: 0.5s;
}

.select-container {
  height: 54px;
}

.button {
  --color: #79E7AB;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}

.button-red {
  --color-red: #FF5977;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color-red);
  z-index: 1;
}

.button-red::before,
.button-red::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color-red);
  transition: 1s ease;
}

.button-red::before {
  top: -1em;
  left: -1em;
}

.button-red::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button-red:hover::before,
.button-red:hover::after {
  height: 410px;
  width: 410px;
}

.button-red:hover {
  color: rgb(10, 25, 30);
}

.button-red:active {
  filter: brightness(.8);
}

footer {
  width: 10vw;
}

.prof-pic {
  width: 10vw;
}

.cancel {
  height: 5vh;
  width: 5vh;
}