.banner {
    background-image: url('../../../../public/unsplash_kcJsQ3PJrYU.jpg');
    background-size: cover;
}

.fancy-text {
    font-family: 'Alegreya Sans', sans-serif
}

.blue-border {
    border: 5px solid #56C7FB;
}