.event-img {
    height: 27vh;
    width: 100%;
    object-fit: cover;
}

.event-body {
    height: 5vh;
}

.glass-card {
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: #404a4e6b;
    width: 100%;
    backdrop-filter: blur(7px)
}

.card-border {
    border: 3px solid #474C61;
}

.event-card {
    transition: transform 0.2s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

// .hover :hover {
//     transform: scale(.98);
// }

.no-shadow {
    text-shadow: none;
    font-weight: 800;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

// .sold-out span {
//     position: absolute;
//     top: 0;
//     right: 0;
//     background-image: linear-gradient(50deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
//     transform: rotate(45deg) translateY(-5px) translateX(35px);
//     color: #fff;
//     font-weight: 600;
//     letter-spacing: 0.1em;
//     text-transform: uppercase;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
// }

.sold-out span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sold-out span::before {
    content: 'sold out';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
    transform: rotate(45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.sold-out span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    right: 0;
    height: 10px;
    z-index: -1;
    box-shadow: -140px -140px #e13f5d;
    background-image: linear-gradient(45deg, #e13f5d 0%, #e97a8f 51%, #e13f5d 100%);
}

.canceled span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canceled span::before {
    content: 'canceled';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
    transform: rotate(45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.canceled span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    right: 0;
    height: 10px;
    z-index: -1;
    box-shadow: -140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}